.App {
    display: grid;
}

@media (width > 1200px) {
    .App {
        grid-template-columns: minmax(4rem, 1fr) minmax(0, 1200px) minmax(4rem, 1fr);
    }
}

@media (width <=1200px) {
    .App {
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 1200px) minmax(1rem, 1fr);
    }
}

.App h1,
.App p,
.App .author-name-container {
    grid-column: 2;
}

.App .story-main-container {
    grid-column: 1 / span 3;
    justify-self: center;
    margin-top: 2ex;
    display: grid;
    grid-template-columns: auto 1fr;
}