.App {
    display: grid;
    row-gap: 2ex;
    margin-bottom: 4em;
}

@media (width > 800px) {
    .App {
        grid-template-columns: minmax(4rem, 1fr) minmax(0, 1200px) minmax(4rem, 1fr);
    }
}

@media (width <=800px) {
    .App {
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 1200px) minmax(1rem, 1fr);
    }
}

.App h1,
.App p,
.author-name-container,
.playground-main-container,
.settings-outer-container,
.story-main-empty,
.story-main-loading,
.story-main-error,
.bib-outer-container {
    grid-column: 2;
}

p.intro-par {
    margin: 0;
}

.App h1 {
    margin-bottom: 0;
}

.story-main-container {
    grid-column: 1 / span 3;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
}

.click-me {
    cursor: pointer;
}