.loading-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 1ex;
    width: 160px;
    overflow: hidden;
}

.loading-animated {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: conic-gradient(#44a1a0 25%, #cd4631 0 50%, #063d79 0 75%, #ffa630 0);
    animation: l22 2s infinite linear;
}

.loading-animated::before,
.loading-animated::after {
    content: "";
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    animation: inherit;
}

.loading-animated::after {
    margin: 25%;
    animation-duration: 3s;
}

@keyframes l22 {
    100% {
        transform: rotate(1turn)
    }
}