.author-name-container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 1ex;
}

.author-name-input {
    justify-self: start;
}

.author-edit-btn {
    display: inline;
    margin: 0px 1ex;
}

.main-author-label {
    font-weight: bold;
}

.author-results-container {
    grid-column: span 3;
    justify-self: start;
    margin: 1ex 0 0 2ex;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 50vh;
    border: 1px solid #8dd3c7;
}

.author-results-container.author-results-empty {
    border: none;
    padding: 0;
}

.author-result-item:hover {
    background-color: #8dd3c7;
}