.settings-collapsed {
    overflow: hidden;
    height: 0;
}

.settings-click-me {
    cursor: pointer;
}

.settings-inner-container {
    margin: 1ex 0 0 2ex;
    display: flex;
    flex-direction: column;
    gap: 0.4ex;
}

.settings-inner-header {
    margin-top: 0.2ex;
    font-style: italic;
}

@media (width > 500px) {
    .settings-inner-par {
        margin-left: 1ex;
        display: grid;
        grid-template-columns: minmax(4rem, auto) minmax(auto, 1fr);
        row-gap: 0.3ex;
        column-gap: 1ex;
    }

    .settings-setting-oneline {
        grid-column: span 2;
    }
}

@media (width <=500px) {
    .settings-inner-par {
        display: flex;
        flex-direction: column;
        gap: 1ex;
    }
}

input.settings-setting-input {
    display: inline-block;
    width: 60px;
}

.settings-setting-oneline svg {
    margin-right: 0.5ex;
}

.settings-setting-oneline input {
    margin: 0 0.5ex;
}

.settings-setting-oneline select {
    margin-left: 0.5ex;
}

.settings-input-container svg {
    margin: 0 0.5ex;
}

.settings-input-container input {
    margin-right: 0.25ex;
}

.settings-select-provider,
.settings-select-informal,
.settings-select-algo {
    justify-self: start;
    min-width: 100px;
}

.settings-input-container {
    justify-self: start;
    align-self: end;
}