.story-main-container div {
    display: inline;
}

.story-svg-container {
    overflow-x: scroll;
}

@media (width > 500px) {
    .story-svg-container {
        margin-right: 1ex;
    }

    .story-labels-container {
        margin: 0 1ex;
    }
}

@media (width <=500px) {
    .story-labels-container {
        margin-right: 1ex;
        overflow-x: scroll;
        width: 33vw;
    }
}