/* SPDX-FileCopyrightText: 2024 Tim Hegemann <hegemann@informatik.uni-wuerzburg.de>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.story-main-container div {
    display: inline;
}

.story-svg-container {
    overflow-x: scroll;
}

.story-main-svg .author-lines-group path {
    stroke-width: var(--author-line-stroke-width);
}

.story-main-svg .author-lines-group path:hover {
    stroke-width: var(--selected-line-stroke-width);
}

@media (width > 500px) {
    .story-svg-container {
        margin-right: 1ex;
    }

    .story-labels-container {
        margin: 0 1ex;
    }
}

@media (width <=500px) {
    .story-labels-container {
        margin-right: 1ex;
        overflow-x: scroll;
        width: 33vw;
    }
}